@font-face {
  font-family: "Main_Font";
  src: url(../fonts/10617.ttf);
}
.main {
  margin: 0 auto;
  max-width: 430px;
  background-color: #e94e38;
  border-radius: 20px;
  border: 2px solid #000;
}
.main_clock {
  margin-top: 10px;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  font-family: "Main_Font";
  font-size: 40px;
  display: flex;
}
.button_block {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#button_start,
#button_stop {
  outline: none;
  padding: 12px 0;
  margin: 0 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 15px;
  height: 47px;
  font-family: "Main_Font";
  color: #fff;
  min-width: 200px;
  background-color: #E94E00;
  border: 2px solid #000;
}
.circle {
  background-image: url(../img/ciferblat1.png);
  background-size: cover;
  margin: 0 auto;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
.circle .arrow {
  box-sizing: border-box;
  transform-origin: 0 100% 0;
  position: absolute;
  top: 0;
  left: 209px;
  background-color: black;
  width: 2px;
  height: 210px;
}
